<!--@subject Take a look at {{var registry_title}} Wedding Registry @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    Hello,<br />
I thought you might like to know that I have created a Wedding Registry at <a href="{{var website_domain}}" >{{var website_domain}}</a>.<br />
You can find it at <a href="{{var registry_search_page}}" >here</a> by searching for my name or for my Registry ID: <b>{{var registry_id}}</b>.
You can also access my registry by this link: <a href="{{var registry_public_url}}">{{var registry_public_url}}</a>
<br /><br />Sincerely,<br />{{var registry_title}}
    </div>